* {
  padding: 0;
  margin: 0; }

.button {
  margin: 0 auto;
  display: inline-block;
  width: 40px;
  height: 36px;
  padding: 10px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  position: relative; }

.button span {
  display: block;
  width: 40px;
  height: 4px;
  background: black;
  margin-top: 7px;
  text-align: right; }

label {
  cursor: pointer; }

.menu-lista-toggle {
  display: none; }

#menu {
  display: none;
  text-align: center;
  background: white;
  padding: 10px 0; }

#menu li a {
  color: black;
  padding: 10px 0;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px; }

#menu-toggle:checked + #menu {
  display: block;
  background-color: blue;
  height: auto;
  text-align: left;
  padding: 20px;
  text-decoration: none;
  list-style: none; }
  #menu-toggle:checked + #menu li a {
    text-decoration: none;
    color: white; }

#navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px; }

.bounce-in-top {
  -webkit-animation: bounce-in-bottom 1.1s both;
  animation: bounce-in-bottom 1.1s both; }

@-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
/*.menu {
    padding: 25px;
}

.menu-lista {
    text-align: right;
}

.menu-lista li {
    list-style: none;
    display: inline;
    padding-right: 20px;
}*/
.header {
  margin-left: 40px; }

.header h1 {
  font-size: 36px;
  font-family: 'IBM Plex Sans', sans-serif; }

.header p {
  font-size: 14px;
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 56px;
  text-align: justify;
  margin-right: 40px; }

.header span {
  color: #0000EC; }

.boton-header {
  background-color: #00F3BB;
  color: #060A24;
  width: 288px;
  height: 48px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 16px;
  border: none; }

.boton-header:hover {
  background: linear-gradient(to right, #0000FE, #00F0B8);
  color: white; }

.episodios {
  display: block;
  background: linear-gradient(to right, #0000A3, #0000FF);
  clip-path: polygon(0 11%, 100% 0, 100% 88%, 0% 100%);
  height: 1280px; }

.episodios h3 {
  font-size: 36px;
  font-family: 'IBM Plex Sans', monospace;
  color: white;
  font-weight: 300;
  position: relative;
  top: 150px;
  left: 45px; }

.episodios-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 160px; }

.contained-if {
  height: 225px;
  width: 298px; }

.donde-venimos {
  position: relative;
  bottom: 125px;
  display: flex;
  align-items: flex-start; }

.donde-venimos img {
  width: 360px; }

.telefono h2 {
  font-size: 36px;
  color: #060A24;
  font-family: 'IBM Plex Sans', monospace;
  padding: 8px 10px 0px 10px; }

.telefono div p {
  padding: 8px 10px 0px 10px;
  font-size: 14px;
  color: #060A24;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 25px; }

.tel-textos {
  display: block;
  position: relative;
  bottom: 90px; }

.fotos {
  display: flex;
  align-items: center;
  flex-direction: column; }

.invitados-img {
  width: 350px; }

.invitados h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 36px;
  padding: 8px 10px 20px 10px; }

.temas h2 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  padding: 40px 10px 20px 10px; }

.temas-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem; }

.temas-icons span {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  color: #060A24; }

.icons {
  padding: 30px 0px 20px 0px;
  width: 104px; }

.novedades {
  display: inline-block;
  background: linear-gradient(to right, #0000A3, #0000FF);
  clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0% 100%);
  height: 341px;
  padding-top: 80px; }

.novedades h1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  padding: 0px 50px 0px 40px; }

.boton-footer {
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.botonfooter {
  background-color: #00F3BB;
  color: #060A24;
  width: 288px;
  height: 48px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 16px;
  border: none; }

.footer {
  height: 180px;
  background-color: white; }

.footer p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px; }

.icons-footer {
  display: flex;
  justify-content: space-around;
  margin-left: 3.5rem;
  margin-right: 3.5rem; }

/*# sourceMappingURL=MFpodcaststyle.css.map */
