//variables//

$font-family: 'IBM Plex Sans',
sans-serif;
$font-family2: 'IBM Plex Mono',
monospace;
$tama単otitulos: 36px;
$line-height: 42px;
$tama単otitulosdesk: 64px;
$titulos2: 48px;
$subtitulosdesk: 16px;

$color1: #060A24;
$colorboton: #00F3BB;


* {
    padding: 0;
    margin: 0;
}


//menu hamburguesa
.button {
    margin: 0 auto;
    display: inline-block;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    //background: #666;
    color: white;
    cursor: pointer;
    position: relative;

}



label {
    cursor: pointer;
}

#menu {
    display: block;
    text-align: center;
    background: white;
    padding: 10px 0;
    text-align: right;
    li {
        display: inline-block;
        margin: 0  24px;
       a {
           text-decoration: none;
       
       }
    }

}

#menu li a {
    color: black;
    padding: 10px 0;
    display: block;
    font-family: $font-family2;
    font-size: 16px;
}


#menu-toggle:checked+#menu {
    display: none;
    background-color: blue;
    height: auto;
    text-align: left;
    //padding: 20px;
    text-decoration: none;
    list-style: none;

    & li a {
        text-decoration: none;
        color: white;

    }
}

#navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 25px 10px;
}

.bounce-in-top {
    -webkit-animation: bounce-in-bottom 1.1s both;
    animation: bounce-in-bottom 1.1s both;
}

 @-webkit-keyframes bounce-in-bottom {
    0% {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(65px);
              transform: translateY(65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(28px);
              transform: translateY(28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-bottom {
    0% {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(65px);
              transform: translateY(65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(28px);
              transform: translateY(28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  



//   #menu{
//       display: block;
//   }


/*.menu {
    padding: 25px;
}

.menu-lista {
    text-align: right;
}

.menu-lista li {
    list-style: none;
    display: inline;
    padding-right: 20px;
}*/

//header

.header {
    margin-left: 40px;
}

.header h1 {
    font-size: $tama単otitulosdesk;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 80px;
}

.header p {
    font-size: $subtitulosdesk;
    font-family: 'IBM Plex Mono', monospace;
    padding-bottom: 56px;
    text-align: justify;
    padding: 10px 445px 50px 80px;
}

.header span {
    color: #0000EC;
}

.boton-header {
    //display: flex;
    background-color: #00F3BB;
    color: #060A24;
    width: 226px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    border: none;
    position: relative;
    left: 80px;
}

.boton-header:hover {
    background: linear-gradient(to right, #0000FE, #00F0B8);
    color: white;
}

//episodios

.episodios {
    display: block;
    background: linear-gradient(to right, #0000A3, #0000FF);
    clip-path: polygon(0 11%, 100% 0, 100% 88%, 0% 100%);
    height: 1042px;
}

.episodios h3 {
    font-size: 36px;
    font-family: 'IBM Plex Sans', monospace;
    color: white;
    font-weight: 300;
    position: relative;
    top: 200px;
    left: 45px;
}

.episodios-container {
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    top: 220px;

}

.contained-if {
    width: 584px;
    height: 232px;
    padding: 20px;
    
}

//de donde venimos - comienza con img del telefono

.donde-venimos {
    position: relative;
    bottom: 125px;
    display: flex;
    align-items: flex-start;
}

.donde-venimos img{
    width: 458px;
    position: relative;
    left: 200px;
}

.telefono h2 {
    font-size: $titulos2;
    color: #060A24;
    font-family: 'IBM Plex Sans', monospace;
    
}

.telefono div p {
    padding: 8px 10px 0px 10px;
    font-size: 14px;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 25px;
}

.tel-textos {
    display: block;
    position: relative;
    bottom: 90px;
}

//invitados estelares

.fotos {
    display: flex;
    flex-direction: row;
    padding: auto;
}

.invitados-img {
    width: 480px;
}

.invitados h2 {
    font-family: $font-family;
    color: $color1;
    font-size: 48px;
    padding: 8px 10px 20px 140px;
}

.temas h2 {
    font-size: $titulos2;
    font-family: $font-family;
    color: $color1;
    padding: 30px 10px 20px 140px;
}

//iconos

.temas-icons{
    display: flex;
    flex-direction: row;
    padding: 20px 0 40px 0;
}

.temas-icons img {
    display: block;
}

.temas-icons span {
    font-family: $font-family;
    font-weight: 600;
    color: $color1;
    display: block;
    
}

.icons {
    padding: 30px 0px 20px 0px;
    width: 104px;
}

//novedades con boton

.novedades {
    display: inline-block;
    background: linear-gradient(to right, #0000A3, #0000FF);
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0% 100%);
    height: 518px;
    width: 1440px;
    padding-top: 80px;
}

.novedades h1 {
    font-family: $font-family;
    color: white;
    font-size: $tama単otitulos;
    text-align: center;
    line-height: $line-height;
    padding: 0px 50px 0px 40px;
}

.boton-footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.botonfooter {
    background-color: #00F3BB;
    color: #060A24;
    width: 288px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

//footer

.footer {

    height: 180px;
    background-color: white;
}

.footer p {
    font-family: $font-family2;
    font-size: 14px;
    color: $color1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.icons-footer {
    display: flex;
    justify-content: space-around;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

@media screen and (min-width: 1000px) {
    .logo{
        display: flex
    }
}